form{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(252, 252, 39);
    justify-content: center; /* Центрирует содержимое формы горизонтально */
    align-items:center;
    gap: 15px;
}

.tittle
{
    display: flex;
    justify-content: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

input{
    width: 75%;

}

.form-group
{
    display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items:center;

}